body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 700px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #334155;
    color: white;
    font-size: 16px;
}

button:hover {
    background: #475569;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#aiBtn {
    background: #2563eb;
}